<nav class="navbar navbar-expand-lg navbar-dark bg-dark pt-4 pb-4">
  <a class="navbar-brand text-uppercase" href="/">
     <img src="/img/logo/logo.png" width="100" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-md-auto">
      <li class="nav-item hvr-outline-in  active ml-3">
        <a class="nav-link  button-ex" href="/">Início</a>
      </li>
      <li class="nav-item hvr-outline-in ml-3">
        <a class="nav-link button-ex" href="/sobre">Sobre</a>
      </li>
      <li class="nav-item hvr-outline-in ml-3">
        <a class="nav-link button-ex" href="/contato">Contato</a>
      </li>
    </ul>
  </div>
</nav>