{{!-- jumbotron --}}
<div id="cover">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <svg viewBox="0 0 960 300">
                <symbol id="s-text">
                    <text text-anchor="middle" x="50%" y="80%" class="text-uppercase">Reputação Verde</text>
                </symbol>

                <g class="g-ants">
                    <use xlink:href="#s-text" class="text-copy"></use>
                    <use xlink:href="#s-text" class="text-copy"></use>
                    <use xlink:href="#s-text" class="text-copy"></use>
                    <use xlink:href="#s-text" class="text-copy"></use>
                    <use xlink:href="#s-text" class="text-copy"></use>
                </g>
            </svg>
            <hr class="my-4 text-white">
            <h2 class="text-center">
                Com uma boa <strong>reputação</strong>, você vende cerca de 150% mais do que uma pessoa com má
                reputação!
            </h2>
            <hr>
            <h6 class="text-center">Nós podemos lhe ajudar, precisa recuperar sua reputação? <a class="text-form"
                    id="link_texto" href="/contato">envie um formulario para nós.</a></h6>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 area_negocios">

            <div class="texto_negocios">
                <h2 class="textH2">Somos especializados no que fazemos!</h2>
                <h4 class="texth4"> Gostamos da transparência no trabalho como um todo. <br>Deixamos todos nossos
                    clientes
                    a par de
                    tudo!</h4>
            </div>
        </div>

        <div class="col-md-4">
            <div class="container box-Itens">
                <div class="box">
                    <div class="boxContent">
                        <i class="fa fa-envelope icon"></i>
                        <h1 class="title">Contate-nos</h1>
                        <p class="desc">Entre em contato conosco, e sane suas dúvidas</p>
                    </div>
                    <a href="/contato"></a>
                </div>
                <div class="box">
                    <div class="boxContent">
                        <i class="fa fa-address-card  icon"></i>
                        <h1 class="title">Conheça-nos</h1>
                        <p class="desc">Conheça um pouco sobre nosso projeto</p>
                    </div>
                    <a href="/sobre"></a>
                </div>
            </div>
        </div>

    </div>
</div>
</div>


{{!-- Avaliações de clientes --}}
<h1 class="text-center mt-5 text-uppercase">Avaliações dos clientes</h1>
<p class="text-center"><small>Obs: O nome dos clientes foi preservado para manter suas respectivas integridades</small>
</p>
<hr class="sep-2" />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="testimonial-slider" class="owl-carousel">
                <div class="testimonial">
                    <div class="pic">
                        <img src="img/depoimentos/man1.png">
                    </div>
                    <div class="testimonial-profile">
                        <h3 class="title">Matheus</h3>

                    </div>
                    <p class="description">
                        "De inicio eu não acreditava muito, tive até que pedir para me mostrar alguns trabalhos que já
                        fez, mas essa equipe salvou minha empresa."
                    </p>
                </div>
                <div class="testimonial">
                    <div class="pic">
                        <img src="img/depoimentos/girl1.png">
                    </div>
                    <div class="testimonial-profile">
                        <h3 class="title">Irene</h3>

                    </div>
                    <p class="description">
                        "Fiquei bastante tempo sem vender, até conhecer esse pessoal, depois disso, reputação negativa
                        nunca mais."
                    </p>
                </div>
                <div class="testimonial">
                    <div class="pic">
                        <img src="img/depoimentos/man2.png">
                    </div>
                    <div class="testimonial-profile">
                        <h3 class="title">Luiz</h3>

                    </div>
                    <p class="description">
                        "Contratei uma vez, e foi o suficiente para nunca mais precisar dos serviços, decolei no
                        mercado!!!"
                    </p>
                </div>
                <div class="testimonial">
                    <div class="pic">
                        <img src="img/depoimentos/girl2.png">
                    </div>
                    <div class="testimonial-profile">
                        <h3 class="title">Julia</h3>

                    </div>
                    <p class="description">
                        "Acredito que todo mundo já passou por um sufoco na vida, porém, a melhor parte foi ter ajuda
                        nessas horas."
                    </p>
                </div>
                <div class="testimonial">
                    <div class="pic">
                        <img src="img/depoimentos/girl3.png">
                    </div>
                    <div class="testimonial-profile">
                        <h3 class="title">Isabela</h3>

                    </div>
                    <p class="description">
                        "Não tenho nem comentarios, acredito que me salvou bastante e salva muita gente por ai."
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>