<div class="container mt-5">

    <div class="">
        <h1 class="text-center text-uppercase">Quem somos?</h1>
        <hr style="width: 20%">

        <div class="row">
            <div class="col-md-6">
                <p class="text-about">
                    Assim como você, eu era um vendedor, focado em venda (marketplaces) porém meu
                    foco era o Mercado Livre. Comecei atingindo as 10 primeiras vendas e me <b>tornei vendedor com
                        reputação verde escura.</b> Fiquei muito
                    feliz, e isso aumentou minhas vendas e continuei vendendo como nunca. Estava decolando, depois de
                    ter
                    feito
                    DIVERSAS
                    VENDAS, até que, enviei um pedido, para um cliente que assim que o pacote chegou, ele nem entrou em
                    contato
                    e já abriu a reclamação, pois não gostou do produto, embora
                    eu mandei EXATAMENTE IGUAL ao anunciado.</p>
            </div>
            <div class="col-md-6">
                <img src="img/about/primeira.png" class="rounded float-right img-fluid">
            </div>
        </div>

        <p class="text-about">Pedi para devolver e tudo iria ficar certo, só que, eu não esperava que minha reputação
            seria
            rebaixada para o amarelo, embora nunca tivesse feito nada de errado, muito menos causado algum dano aos
            consumidores.
        </p>
        <div class="row">
            <div class="col-sm-6">
                <img src="img/about/terceira.png" class="rounded float-left img-fluid">
            </div>
            <div class="col-sm-6">
                <p class="text-about">Pensado nisso, que comecei a desenvolver métodos, para não
                    ser prejudicado, <b>e depois de muito, mas muito tempo</b>, consegui chegar
                    a onde queria. O serviço que ofereço a vocês, é ajudar os
                    microempreendedores a
                    venderem cada vez mais. Parei de vender online, e me dediquei totalmente a atender os nossos
                    clientes, para que não venham a ter experiências ruins, que eu tive.
                    Nosso serviço é exclusivo para AJUDAR OS VENDEDORES, todas os pedidos
                    que agirem de má fé, querendo atingir negativamente outro vendedores vão ser RECUSADOS, e deixamos
                    bem
                    claro,
                    que nosso serviço não utiliza nenhum tipo de SCRIPT ou codigo progamado, é totalmente
                    real.</p>
            </div>
        </div>
        <hr class="separator separator--dots" />
    </div>

    <div class="mt-5">

        <h1 class="text-center text-uppercase">Como funciona?</h1>
        <hr style="width: 20%">
        <p class="text-about">
            Pensando em desenvolver o melhor metodo, nós trabalhos da seguinte forma: não será necessario ter
            acesso a nenhum dado e/ou sua conta do marketplace, é um processo simples.
            Fechando a negociação será passado instruções para a criação de um anúncio dentro da sua conta, que
            você mesmo irá criar, e enviar o link do anuncio para nossa equipe. Em seguida
            novas compras iram começar a chegar em sua conta (são compras reais).
        </p>
        <blockquote>
            <p><q>Ah, mas e o envio?</q></p>
        </blockquote>
        <p class="text-about mt-2">
            Será feito um
            anuncio de produtos digitais, manuais,cripto moedas e etc, logo não é necessario enviar
            pelos correios,
        </p>

        <blockquote>
            <p><q>Tá, mas e o preço?</q></p>
        </blockquote>
        <p class="text-about mt-2">
            Bom, depende de qual serviço e de quantas vendas você precisa, então
            envie um formulario explicativo, com tudo o que precisa, caso tenha alguma dúvida,
            nossa equipe está prontamente preparada para ler seu formulario. (Este serviço de compras é prestado para
            todos os marketplaces, mas com foco no mercadolivre onde a reputação afeta mais).
        </p>
        <hr class="separator separator--dots" />
    </div>

    <div class=" mt-5">

        <h1 class="text-center text-uppercase">Garantia e segurança</h1>
        <hr style="width: 20%">
        <div class="row">
            <div class="col-md-6">
                <p class="text-about">
                    Nós, garantimos TOTALMENTE o serviço, e a integridade da sua conta, além disso, sigilo total de suas
                    negociais com nosco. Nossa garantia é tanta, que você não terá que pagar pelo serviço adiantado,
                    Você só irá efetuar o pagamento após ter dado tudo certo com o que foi solicitado,
                </p>
            </div>
            <div class="col-sm-6 image-about">
                <img src="img/about/segunda.png" class="rounded float-right img-fluid ">
            </div>

        </div>
        <hr class="separator separator--dots" />

    </div>
</div>